html {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #282828;
    color: white;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    height: 15%;
    width: 25%;
    padding: 50px;
    color: firebrick;
}

.display {
    font-size: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 24px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    margin: 0;
}